
.wrapper-header {
	border-top: solid;
	border-color: #ff0066;
	border-top-width: 10px;
	background:url(keyboard.jpg);
	background-size: 100% 100%;
	text-align:center;
	font-family: sans-serif;
	color: white;
}

.header {
	height:auto;
	min-height: 200px;
	width: 100%;
	background-color: #000000;
	-webkit-filter: opacity(50%); 

}

.header h1 {
	text-align: center;
	margin-top: 0;
}

.intro {
	min-height: 100px;
	text-align: left;
	font-family: sans-serif;
	text-indent: 50px;
}
.intro p {
	margin-left: 5px;
}

.skills {
	min-height: 250px;
	background-color: #ff0066;
	text-align: left;
	font-family: sans-serif;
	color: white;
}

.skills ul, .skills h2, .skills p {
	margin-left: 50px;
	margin-bottom: 0;
}

.contact {
	text-align: center;
}
